html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: #EAEAEA;
    box-sizing: border-box;
}

.app {
    margin-top: 5em;
}

.container {
    width: 505px;
    margin: 0px auto;
}

.name {
    font-size: 3em;
    font-family: 'Noto Serif', serif;
    margin: 0.8em 0;
}

.your-basket {
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Noto Serif', serif;
    margin-bottom: 1em;
}

p {
    margin: 2px;
    font-size: 1em;
    
}

table {
    margin-top: 1.2em;
    border-collapse: collapse;
    width: 100%;
  }

th {
    text-align: left;
}

th, td, tr {
    padding: 0.5em 0.2em;
}

th, td {
    padding-left: 5px;
}

.header {
    border-bottom: 2px solid black;
}

.qty {
    display: flex;
    margin: 0.1em;
}

.item-qty {
    align-items: baseline;
    margin-right: 5px;
    margin-bottom: 1px;
}

.arrow {
    margin: 1px;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
    margin-bottom: 2px;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 5px;
    border-top: 5px solid black;
  }

  .subtotal {
      padding-top: 1em;
  }

  .myButton {
	background-color:#14306B;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding:8px 4px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    position: relative;
    left: 364px;
    top: 60px;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
